@using Ads.Application.DTOs.Advert
@model AdvertDto

@{
    ViewData["Title"] = "Edit Advert";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutNested.cshtml";
}

<h1>Edit Advert</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Adverts" asp-area="Admin" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedDate" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label">Is Business?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Type" value="true" id="Business">
                    <label class="form-check-label" for="Business">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Type" value="false" id="Person">
                    <label class="form-check-label" for="Person">No</label>
                </div>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OnSale" /> @Html.DisplayNameFor(model => model.OnSale)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ClickCount" class="control-label"></label>
                <input asp-for="ClickCount" class="form-control" />
                <span asp-validation-for="ClickCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <label for="selectedCategoryIds">Category</label>
                <select id="selectedCategoryIds" name="selectedCategoryIds" asp-items="@ViewBag.Categories" class="form-control" multiple>
                    
                </select>
            </div>

            <div class="form-group mt-2">
                <label for="selectedSubCategoryIds">Subcategory</label>
                <select id="selectedSubCategoryIds" name="selectedSubCategoryIds" asp-items="@ViewBag.SubCategories" class="form-control" multiple>
                   
                </select>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary mt-2" asp-action="Index">Back to List</a>
</div>
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#selectedCategoryIds').on('change', function () {
                var selectedValues = $('#selectedCategoryIds').val();
                console.log("Seçili gelen category idleri: " + selectedValues);
                $('#selectedSubCategoryIds').empty();
                $('#selectedSubCategoryIds').append('<option value="">Select a subcategory</option>');

                $.each(selectedValues, function (index, mainCategoryId) {
                    var categoryInfo = {
                        categoryId: mainCategoryId,
                        categoryText: $('#selectedCategoryIds option[value="' + mainCategoryId + '"]').text()
                    };
                    sendSubcategoriesRequest(categoryInfo);
                });
            });

            function sendSubcategoriesRequest(categoryInfo) {
                $.ajax({
                    url: '@Url.Action("GetSubCategories", "Adverts")',
                    type: 'GET',
                    data: {
                        categoryId: categoryInfo.categoryId                       
                    },
                    success: function (subCategories) {
                        $.each(subCategories, function (i, subCategory) {
                            $('#selectedSubCategoryIds').append('<option value="' + subCategory.value + '">' + subCategory.text + '(' + categoryInfo.categoryText + ')</option>');
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error("An error occurred while loading subcategories:", error);
                    }
                });
            }
        });
    </script>
}

