@using Ads.Application.DTOs.Advert
@model IEnumerable<AdvertDto>

@{
    ViewData["Title"] = "Adverts";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutNested.cshtml";
}



<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Adverts</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">You can perform @ViewData["Title"] management operations on this page.</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
            </div>
            <div class="card-body mt-3">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                <center>Images</center>
                            </th>
                            <th>
                                User Name
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Category
                            </th> 
                            <th>
                                SubCategory
                            </th>
                            <th>
                                On Sale
                            </th>
                            <th>
                                Price
                            </th>
                            
                            <th>
                                Detail
                            </th>
                            <th>
                                Edit
                            </th>
                            <th>
                                Delete
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                <center>Images</center>
                            </th>
                            <th>
                                User Name
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Category
                            </th> 
                            <th>
                                SubCategory
                            </th>
                            <th>
                                On Sale
                            </th>
                            <th>
                                Price
                            </th>                       
                            <th>
                                Detail
                            </th>
                            <th>
                                Edit
                            </th>
                            <th>
                                Delete
                            </th>
                        </tr>

                    </tfoot>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <center>
                                        @if (item.AdvertImages == null || !item.AdvertImages.Any())
                                        {
                                            <div class="form-group">
                                                <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="AdvertImages" asp-action="Create">Create Image</a>
                                            </div>
                                        }
                                        else
                                        {
                                            var firstImage = item.AdvertImages.FirstOrDefault();
                                            if (firstImage != null)
                                            {
                                                <div class="form-group">
                                                    <img src="/Img/AdvertImages/@firstImage.AdvertImagePath" height="50" max-width="100%" object-fit="contain" />
                                                </div>
                                            }
                                        }
                                    </center>
                                </td>
                                <td>
                                    @if (item.User != null)
                                    {
                                        @Html.DisplayFor(modelItem => item.User.UserName)
                                    }
                                    else
                                    {
                                        <text>No User</text>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @if (item.CategoryAdverts != null && item.CategoryAdverts.Any())
                                    {
                                        foreach (var categoryAdvert in item.CategoryAdverts)
                                        {
                                            <div>@categoryAdvert.Category.Name</div>
                                        }
                                    }
                                    else
                                    {
                                        <text>No Category</text>
                                    }
                                </td>
                                <td>
                                    @if (item.SubCategoryAdverts != null && item.SubCategoryAdverts.Any())
                                    {
                                        foreach (var subcategoryAdvert in item.SubCategoryAdverts)
                                        {
                                            <div>@subcategoryAdvert.SubCategory.Name</div>
                                        }
                                    }
                                    else
                                    {
                                        <text>No SubCategory</text>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OnSale)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center flex-wrap gap-2">
                                        <a class="btn btn-outline-info detail-order" asp-action="Detail" asp-route-id="@item.Id">Details</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center flex-wrap gap-2">
                                        <a class="btn btn-outline-primary edit-order" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center flex-wrap gap-2">
                                        <a class="btn btn-outline-danger delete-order" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</main>