@model Ads.Web.Mvc.Areas.Admin.Models.AdvertViewModel

@{
    ViewData["Title"] = "Adverts";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Adverts</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">You can perform @ViewData["Title"] management operations on this page.</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                Advert Images
                            </th>
                            <th>
                                User Name
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                SubCategory
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                On Sale
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Advert Rating
                            </th>
                            <th>
                                ClickCount
                            </th>
                            <th>
                                Comments
                            </th>
                            <th>
                                CreatedDate
                            </th>
                            <th>
                                UpdatedDate
                            </th>
                            <th>
                                Edit
                            </th>
                            <th>
                                Delete
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                Advert Images
                            </th>
                            <th>
                                User Name
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                SubCategory
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                On Sale
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Advert Rating
                            </th>
                            <th>
                                ClickCount
                            </th>
                            <th>
                                Comments
                            </th>
                            <th>
                                CreatedDate
                            </th>
                            <th>
                                UpdatedDate
                            </th>
                            <th>
                                Edit
                            </th>
                            <th>
                                Delete
                            </th>
                        </tr>

                    </tfoot>

                    <tbody>
                        @foreach (var advert in Model.Adverts)
                        {
                            <tr>
                                <td>
                                    @if (advert.AdvertImages == null || !advert.AdvertImages.Any())
                                    {
                                        <div class="form-group">
                                            <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="AdvertImages" asp-action="Create">Create Image</a>
                                        </div>
                                    }
                                    else
                                    {
                                        foreach (var image in advert.AdvertImages)
                                        {
                                            <img src="/Img/AdvertImages/@image.AdvertImagePath" alt="" width="75" height="75" />
                                        }
                                    }
                                </td>
                                <td>
                                    @if (advert.User != null)
                                    {
                                        @Html.DisplayFor(modelItem => advert.User.Username)
                                    }
                                    else
                                    {
                                        <text>No User</text>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => advert.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => advert.Description)
                                </td>
                                <td>

                                    @if (ViewBag.CategoryId != null)
                                    {
                                        var categoryId = advert.CategoryId.ToString();
                                        var categoryList = ViewBag.CategoryId as SelectList;
                                        var categoryItem = categoryList?.FirstOrDefault(x => x.Value == categoryId);

                                        if (categoryItem != null)
                                        {
                                            @categoryItem.Text
                                        }
                                        else
                                        {
                                            <text>No Category</text>
                                        }
                                    }
                                    else
                                    {
                                        <text>No CategoryId List</text>
                                    }
                                </td>
                                <td>
                                    @if (ViewBag.SubCategoryId != null)
                                    {
                                        var subCategoryId = advert.SubCategoryId.ToString();
                                        var subCategoryList = ViewBag.SubCategoryId as SelectList;
                                        var subCategoryItem = subCategoryList?.FirstOrDefault(x => x.Value == subCategoryId);

                                        if (subCategoryItem != null)
                                        {
                                            @subCategoryItem.Text
                                        }
                                        else
                                        {
                                            <text>No SubCategory</text>
                                        }
                                    }
                                    else
                                    {
                                        <text>No SubCategoryId List</text>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => advert.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => advert.OnSale)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => advert.Price)
                                </td>
                                <td>

                                    @if (advert.AdvertRatings != null && advert.AdvertRatings.Any()) //dto mappingden sonra burası güncellenecek
                                    {
                                        var averageRating = (int)advert.AdvertRatings.Average(r => r.Rating ?? 0);
                                        <div class="star-rating" data-rating="@averageRating">
                                            @for (int i = 1; i <= averageRating; i++)
                                            {
                                                <span>&#9733;</span> <!-- Yıldız sembolü -->
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <text>Puan Yok</text>
                                    }
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => advert.ClickCount)
                                </td>
                                <td>
                                    @if (advert.AdvertComments != null && advert.AdvertComments.Any())
                                    {
                                        foreach (var comment in advert.AdvertComments)
                                        {
                                            <div>
                                                @Html.DisplayFor(modelItem => comment.Comment)
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <text>No Comments</text>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => advert.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => advert.UpdatedDate)
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@advert.Id">Edit</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@advert.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</main>