@model IEnumerable<Ads.Domain.Entities.Concrete.AdvertRating>

@{
    ViewData["Title"] = "Advert Ratings";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Advert Ratings</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Rating</th>
            <th>User</th>
            <th>Advert</th>
            <th>Created Date</th>
            <th>Updated Date</th>
            <th>Deleted Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="star-rating" data-rating="@item.Rating">
                        @if (item.Rating.HasValue)
                        {
                            for (int i = 1; i <= item.Rating.Value; i++)
                            {
                                <span>&#9733;</span> <!-- Yıldız sembolü -->
                            }
                        }
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Advert.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeletedDate)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
