@using Ads.Application.DTOs.AdvertImage
@model IEnumerable<AdvertImageDto>

@{
    ViewData["Title"] = "Advert Images";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutNested.cshtml";
}



<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Advert Images</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">You can perform @ViewData["Title"] management operations on this page.</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <a class="btn btn-success" asp-action="Create">Create New</a>
                <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="Adverts" asp-action="Index">Go back to Advert</a>
            </div>
            <div class="card-body mt-3">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                <center>Advert Images</center>
                            </th>
                            <th>
                                Advert Title
                            </th>
                            <th>
                                Created Date
                            </th>
                            <th>
                                Updated Date
                            </th>
                            <th>
                                Edit
                            </th>
                            <th>
                                Delete
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                Advert Images
                            </th>
                            <th>
                                Advert Title
                            </th>
                            <th>
                                Created Date
                            </th>
                            <th>
                                Updated Date
                            </th>
                            <th>
                                Edit
                            </th>
                            <th>
                                Delete
                            </th>
                        </tr>

                    </tfoot>

                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <center><img src="/Img/AdvertImages/@item.AdvertImagePath" alt="" width="150" height="150" /></center>
                                </td>
                                <td>
                                    @if (item.Advert != null)
                                    {
                                        @Html.DisplayFor(modelItem => item.Advert.Title)
                                    }
                                    else
                                    {
                                        <span>Advert not available</span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center flex-wrap gap-2">
                                        <a class="btn btn-outline-primary edit-order" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center flex-wrap gap-2">
                                        <a class="btn btn-outline-danger delete-order" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</main>