@model IEnumerable<Ads.Application.DTOs.Page.PageDto>

@{
    ViewData["Title"] = "Page Management";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutNested.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Pages Management</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">You can perform @ViewData["Title"] operations on this page.</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <a class="btn btn-success" asp-action="Create">Create New</a>
            </div>
            <div class="card-body mt-3">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                <center>Page Image</center>
                            </th>
                            <th>
                                Page Name
                            </th>
                            <th>
                                <center>Page Visibility</center>
                            </th>
                            <th>
                                Title 1
                            </th>
                            <th>
                                Content 1
                            </th>
                            <th>
                                Title 2
                            </th>
                            <th>
                                Content 2
                            </th>
                            <th>
                                Created Date
                            </th>
                            <th>
                                Updated Date
                            </th>

                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                <center>Page Image</center>
                            </th>
                            <th>
                                Page Name
                            </th>
                            <th>
                                <center>Page Visibility</center>
                            </th>
                            <th>
                                Title 1
                            </th>
                            <th>
                                Content 1
                            </th>
                            <th>
                                Title 2
                            </th>
                            <th>
                                Content 2
                            </th>
                            <th>
                                Created Date
                            </th>
                            <th>
                                Updated Date
                            </th>

                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <center><img src="/Img/PageImages/@item.PageImagePath" alt="" width="150" height="150" /></center>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Setting.Value)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Content1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Content2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                                </td>

                                <td>
                                    <div class="d-flex justify-content-center flex-wrap gap-2">
                                        <a class="btn btn-outline-primary edit-order" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center flex-wrap gap-2">
                                        <a class="btn btn-outline-danger delete-order" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>