@* @model IEnumerable<Ads.Domain.Entities.Concrete.Setting>

@{
    ViewData["Title"] = "Settings";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Settings</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">You can perform @ViewData["Title"] management operations on this page.</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <a class="btn btn-success" asp-action="Create">Create New</a>
                <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="Pages" asp-action="Index">Go back to Pages</a>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                            <th>
                                Users
                            </th>
                            <th>
                                Created Date
                            </th>
                            <th>
                                Updated Date
                            </th>
                            <th>
                                Deleted Date
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                            <th>
                                Users
                            </th>
                            <th>
                                Created Date
                            </th>
                            <th>
                                Updated Date
                            </th>
                            <th>
                                Deleted Date
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Value)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Users.)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeletedDate)
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main> *@