@model IEnumerable<Ads.Application.DTOs.Page.PageDto>
@foreach (var item in Model)
{
    <section class="page-title">
        <div class="container">
            <div class="row">

                <div class="col-md-8 offset-md-2 text-center">
                    <h3>@item.Name</h3>
                </div>
            </div>
        </div>
    </section>


    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="/Img/PageImages/@item.PageImagePath" class="img-fluid w-100 rounded" alt="">
                    </div>
                </div>
                <div class="col-lg-6 pt-5 pt-lg-0">
                    <div class="about-content">
                        <h3 class="font-weight-bold">@item.Title1</h3>
                        <p>@item.Content1</p>
                        <h3 class="font-weight-bold">@item.Title2</h3>
                        <p>@item.Content2</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

