@model IEnumerable<Ads.Application.DTOs.Category.CategoryDto>

@{
    ViewData["Title"] = "Category Management";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutNested.cshtml";
}

<main>
    <i class="fa-envelope"></i>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Category Management</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">You can perform @ViewData["Title"] operations on this page.</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <a class="btn btn-success" asp-action="Create">Create New</a>
                <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="Adverts" asp-action="Index">Go to Adverts</a>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>

                            <th>
                                Category Name
                            </th>
                            <th>
                                Category Description
                            </th>
                            <th>
                                Created Date
                            </th>
                            <th>
                                Updated Date
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>

                            <th>
                                Category Name

                            </th>
                            <th>
                                Category Description
                            </th>
                            <th>
                                Created Date
                            </th>
                            <th>
                                Updated Date
                            </th>

                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <i class="@item.CategoryIcon"></i> @item.Name
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                                </td>
                                <td>
                                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id" asp-route-categoryName="@item.Name">Details</a>|
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>